<table>
 </tbody>

 <tr>
  <td><%= link_to @item.name, admin_item_path(@item.id) %>
 </td>

  <td><%= @item.introduction %></td>
  <td><%= @item.price %></td>
 </tr>

 </tbody>
</table>

<td><%= link_to "Edit", edit_admin_item_path(@item.id) %></td>

