<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>

<% @items.each do |item| %>

<tr>
 <td><%= link_to item_path(item.id) do %>
 <%= image_tag item.get_image(100,100) %>
 <% end %>
 <td><%= link_to item.name, item_path(item.id) %></td>

 <td><%= item.price %></td>
</tr>

<% end %>