<table>
  <tbody>
<tr>
<td>会員ID</td>
<td>氏名</td>
<td>メールアドレス</td>
</tr>
<% @customers.each do |customer| %>
<tr>
<td><%= customer.id %></td>
<td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
<td><%= customer.email%></td>
</tr>
<% end %>
   </tbody>
</table>
